



.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-1 {
  background: #05384d;
  width: 1440px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.myself {
  color: #ffffff;
  text-align: left;
  font-family: "LaoMuangDon-Regular", sans-serif;
  font-size: 31px;
  font-weight: 400;
  position: absolute;
  left: 633px;
  top: 56px;
  width: 174px;
  height: 47px;
}
.experience {
  color: #ffffff;
  text-align: left;
  font-family: "LaoMuangDon-Regular", sans-serif;
  font-size: 31px;
  font-weight: 400;
  position: absolute;
  left: 790px;
  top: 56px;
  width: 210px;
  height: 47px;
}
.my-work {
  color: #ffffff;
  text-align: left;
  font-family: "LaoMuangDon-Regular", sans-serif;
  font-size: 31px;
  font-weight: 400;
  position: absolute;
  left: 1021px;
  top: 56px;
  width: 137px;
  height: 47px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "LaoMuangDon-Regular", sans-serif;
  font-size: 31px;
  font-weight: 400;
  position: absolute;
  left: 1234px;
  top: 56px;
  width: 178px;
  height: 47px;
}
.frame-2 {
  width: 142px;
  height: 59px;
  position: absolute;
  left: 600px;
  top: 44px;
  overflow: hidden;
}
.rectangle-1 {
  background: rgba(5, 56, 77, 0.91);
  width: 1440px;
  height: 918px;
  position: absolute;
  left: 0px;
  top: 128px;
}
.hi-this-is {
  color: rgba(13, 184, 255, 0.8);
  text-align: left;
  font-family: "LexendExa-Regular", sans-serif;
  font-size: 43px;
  font-weight: 400;
  position: absolute;
  left: 48px;
  top: 217px;
  width: 273px;
  height: 66px;
}
.syed-ali-kazmi {
  color: #72a9b5;
  text-align: left;
  font-family: "LexendExa-Regular", sans-serif;
  font-size: 67px;
  font-weight: 400;
  position: absolute;
  left: 139px;
  top: 304px;
  width: 730px;
  height: 97px;
}
.bring-innovation {
  color: rgba(164, 171, 173, 0.88);
  text-align: left;
  font-family: "LexendExa-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 144px;
  top: 401px;
  width: 725px;
  height: 68px;
}
.i-am-software-engineer-expertise-in-creating-eye-catching-and-loved-websites-to-attract-your-customers {
  color: #cba5a5;
  text-align: left;
  font-family: "Karla-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 512px;
  width: 764px;
  height: 193px;
}
.rectangle-2 {
  background: #2ea5d7;
  border-radius: 10px;
  width: 281px;
  height: 73px;
  position: absolute;
  left: 223px;
  top: 753px;
}
.contact-me {
  color: #dbeef2;
  text-align: left;
  font-family: "Karma-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 277px;
  top: 764px;
  width: 249px;
  height: 51px;
}
.dp-removebg-preview-2 {
  width: 274px;
  height: 707px;
  position: absolute;
  left: 966px;
  top: 317px;
  object-fit: cover;
}
